* {
}
body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;

  div {
    font-size: 10px;
  }

  input {
    background-color: white;
  }

  ::placeholder {
    font-size: 8px;
  }

  button {
    flex: 1;
    border: none;
    background-color: forestgreen;
    font-size: 8px;
    color: white;
    text-align: center;
  }
}


